body, header, nav, main, footer, h1, div,  img, ul {   
	margin: 0;  
	padding: 0;  
	border: 0;    
}

header {
    position: -webkit-sticky;
    position:sticky;
    top: 0;
    height:190px;
    background-size: 100%;
    max-height: 100%;
    max-width: 100%;
}

.title {
    width: 100%;
    height: 100%;
    text-align: center;
    color: orange;
    object-fit: cover;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    }
        
    @keyframes gradient {
        0% {
        background-position: 0% 50%;
        }
        
        50% {
        background-position: 100% 50%;
        }
        
        100% {
        background-position: 0% 50%;
        }
    }


main {
    font-size: 3em;
    text-align: center;
    display: inline-block;
}

#Level1,#Level2,#Level3 {
    width: 33.3%;
    float: left;
    text-align: left;
    font-size: 0.3em;
}

#Electives{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 0.65em;
    border-top: 2em;
}

.submit {
    margin-top: auto;
    float: center;
    text-align: center;
}

.elective{
    float: center;
    text-align: center;
    font-size: 0.3em;
    margin-top: auto;
}