<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css"></link>
        <title>{{ title }} Study Planner</title>
        <title>Study Planner Home</title>
    </head>
    <body>
        <main>
        <h1 class="title">Your Study Planner</h1>
        <p class="description">Select the units you have completed to see your study plan.</p>
        <form method="POST" action="/">
            <div id="Level 1">
                CP1401<input type="checkbox" value="CP1401" name="mycheckbox">
                CP1402<input type="checkbox" value="CP1402" name="mycheckbox">
                CP1404<input type="checkbox" value="CP1404" name="mycheckbox">
                CP1406<input type="checkbox" value="CP1406" name="mycheckbox">
                CP1409<input type="checkbox" value="CP1409" name="mycheckbox">
                CP1410<input type="checkbox" value="CP1410" name="mycheckbox">
                MA1000<input type="checkbox" value="MA1000" name="mycheckbox">
                MA1020<input type="checkbox" value="MA1020" name="mycheckbox">
                MA1580<input type="checkbox" value="MA1580" name="mycheckbox">
            </div>
            <div id="Level 2">
                CP2403<input type="checkbox" value="CP2403" name="mycheckbox">
                CP2404<input type="checkbox" value="CP2404" name="mycheckbox">
                CP2406<input type="checkbox" value="CP2406" name="mycheckbox">
                CP2409<input type="checkbox" value="CP2409" name="mycheckbox">
                CP2421<input type="checkbox" value="CP2421" name="mycheckbox">
                CP2422<input type="checkbox" value="CP2422" name="mycheckbox">
                CP2423<input type="checkbox" value="CP2423" name="mycheckbox">
                CP2424<input type="checkbox" value="CP2424" name="mycheckbox">
            </div>
            <div id="Level 3">
                CP3403<input type="checkbox" value="CP3403" name="mycheckbox">
                CP3405<input type="checkbox" value="CP3405" name="mycheckbox">
                CP3406<input type="checkbox" value="CP3406" name="mycheckbox">
                CP3407<input type="checkbox" value="CP3407" name="mycheckbox">
                CP3414<input type="checkbox" value="CP3414" name="mycheckbox">
                CP3415<input type="checkbox" value="CP3415" name="mycheckbox">
                CP3418<input type="checkbox" value="CP3418" name="mycheckbox">
            </div>
            <div id="Electives">
                <p>Electives</p>
                CP3416<input type="checkbox" value="CP3416" name="mycheckbox">
                CP3417<input type="checkbox" value="CP3417" name="mycheckbox">
            </div>
            <input type="submit">
        </form>
        <script src="" async defer></script>
    </main>
    </body>
</html>