<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <title>{{ title }} Study Planner</title>
        <title>Study Planner Home</title>
    </head>
    <body>
        <h1>Home page</h1>
        <form method="POST" action="/">
            Checkbox 1<input type="checkbox" value="1" name="mycheckbox">
            Checkbox 2<input type="checkbox" value="2" name="mycheckbox">
            Checkbox 3<input type="checkbox" value="3" name="mycheckbox">
            <input type="submit">
        </form>
        <script src="" async defer></script>
    </body>
</html>